body{
	background-image: url("http://2.bp.blogspot.com/-QWngnZFGpzA/UL74YD87bBI/AAAAAAAAB6g/JlP-RQCO2GM/s1600/Bulgaria+Trakiya+highway+-+zoomed+in+2+(bigger).png");
	background-size: cover;
}
.wrapper{
	width: 400px;
	margin-top: 3em !important;
	margin: 0 auto;
	padding: 20px;
	border: 1px black;
	border-style: dashed;
	background-color: white;
}
#postalcode, #country{
	width: 100%;
}
div.btn{
	text-align: center;
	margin-top: 1em;
}
div.btn a{
	text-decoration: none;
	padding: 10px;
	background-color: #C2C5C2;
	border-radius: 5px;
	color: white;
	transition: .3s all;
    width: 200px;
    display: inline-block;
}
div.btn a:hover{
	background-color: grey;
}
#country{
	border-radius: 10px;
    padding: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#counry:focus{
	outline: 0;
	border:0px;
}
.result{
	width: 400px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
	padding: 20px;
	border: 1px black;
	border-style: dashed;
	padding-top: 0;
	padding-bottom: 0;
}